html {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #fff;
}

.container {
  display: grid;
  place-content: center;
  height: 100vh;
}

h1 {
  font-size: 2.5em;
  text-align: center;
}

.click-me {
  text-align: center;
  margin-left: 150px;
  margin-bottom: -30px;
}

.book-stack {
  font-size: 7em;
  text-align: center;
  transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.9);
	}
}

.book-stack:hover,
.book-stack:focus {
  cursor: pointer;
  transform: none;
  animation: none;
  text-decoration: none;
  filter: brightness(110%);
}