/* Page styling before click */
html {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #fff;
}

.container {
  display: grid;
  place-content: center;
  height: 100vh;
}

h1 {
  font-size: 2.5em;
  text-align: center;
}

.click-me {
  text-align: center;
  margin-left: 150px;
  margin-bottom: -30px;
  display: block;
}

.book-stack {
  font-size: 7em;
  text-align: center;
  animation: pulse 4s infinite;
  display: block;
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
	}
	70% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.9);
	}
}

.book-stack:hover,
.book-stack:focus {
  cursor: pointer;
  transform: none;
  animation: none;
  text-decoration: none;
  filter: brightness(110%);
}

/* Changes after stack of books emoji is clicked */

/* Add styling generic to all books */
.book {
  text-align: center;
}
.book::after { 
  font-size: 5em;
  text-align: center;
  position: absolute;
  opacity: 0; 
}

/* Containers. Animate books along the X-axis */
.book-0, .book-15 {
  animation: xAxis-fly-left-1 5.2s linear; 
}
.book-1, .book-14  {
  animation: xAxis-fly-right-1 4.8s linear; 
}
.book-2, .book-13  {
  animation: xAxis-fly-left-2 4.9s linear; 
}
.book-3, .book-12  {
  animation: xAxis-fly-right-2 4.6s linear; 
}
.book-4, .book-11  {
  animation: xAxis-fly-left-3 5.1s linear; 
}
.book-5, .book-10  {
  animation: xAxis-fly-right-3 3.7s linear; 
}
.book-6, .book-9  {
  animation: xAxis-fly-left-4 5.3s linear; 
}
.book-7, .book-8  {
  animation: xAxis-fly-right-4 5s linear; 
}

/* Render books, and animate along Y-axis */
.book-0::after, .book-15::after {
  content: "📕";
  animation: yAxis-fly-left-1 3.9s cubic-bezier(0.33, 0, 0.66, 0.33); 
}
.book-1::after, .book-14::after {
  content: "📘";
  animation: yAxis-fly-right-1 4.1s cubic-bezier(0.33, 0, 0.66, 0.33); 
}
.book-2::after, .book-13::after {
  content: "📖";
  animation: yAxis-fly-left-2 3.5s cubic-bezier(0.33, 0, 0.66, 0.33); 
}
.book-3::after, .book-12::after {
  content: "📗";
  animation: yAxis-fly-right-2 3.8s cubic-bezier(0.33, 0, 0.66, 0.33); 
}
.book-4::after, .book-11::after {
  content: "📙";
  animation: yAxis-fly-left-3 4.2s cubic-bezier(0.33, 0, 0.66, 0.33); 
}
.book-5::after, .book-10::after {
  content: "📓";
  animation: yAxis-fly-right-3 3.7s cubic-bezier(0.33, 0, 0.66, 0.33); 
}
.book-6::after, .book-9::after {
  content: "📒";
  animation: yAxis-fly-left-4 3.3s cubic-bezier(0.33, 0, 0.66, 0.33); 
}
.book-7::after, .book-8::after {
  content: "📔";
  animation: yAxis-fly-right-4 4s cubic-bezier(0.33, 0, 0.66, 0.33); 
}

/* Keyframes Vector 1 */
@keyframes xAxis-fly-left-1 {
  20% {
    animation-timing-function: linear;
    transform: translateX(-100px);
  }
  100% {
    animation-timing-function: linear;
    transform: translateX(-900px);
  }
}

@keyframes yAxis-fly-left-1 {
  0% {
    opacity: 100;
  }
  20% {
    animation-timing-function: ease-in;
    transform: translateY(-500px);
  }
  100% {
    animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);
    transform: translateY(1000px);
    opacity: 100;
  }
}

/* Keyframes Vector 2 */
@keyframes xAxis-fly-right-1 {
  20% {
    animation-timing-function: linear;
    transform: translateX(100px);
  }
  100% {
    animation-timing-function: linear;
    transform: translateX(900px);
  }
}

@keyframes yAxis-fly-right-1 {
  0% {
    opacity: 100;
  }
  20% {
    animation-timing-function: ease-in;
    transform: translateY(-500px);
  }
  100% {
    animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);
    transform: translateY(1000px);
    opacity: 100;
  }
}

/* Keyframes Vector 3 */
@keyframes xAxis-fly-left-2 {
  20% {
    animation-timing-function: linear;
    transform: translateX(-50px);
  }
  100% {
    animation-timing-function: linear;
    transform: translateX(-1000px);
  }
}

@keyframes yAxis-fly-left-2 {
  0% {
    opacity: 100;
  }
  20% {
    animation-timing-function: ease-in;
    transform: translateY(-400px);
  }
  100% {
    animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);
    transform: translateY(1000px);
    opacity: 100;
  }
}

/* Keyframes Vector 4 */
@keyframes xAxis-fly-right-2 {
  20% {
    animation-timing-function: linear;
    transform: translateX(50px);
  }
  100% {
    animation-timing-function: linear;
    transform: translateX(900px);
  }
}

@keyframes yAxis-fly-right-2 {
  0% {
    opacity: 100;
  }
  20% {
    animation-timing-function: ease-in;
    transform: translateY(-400px);
  }
  100% {
    animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);
    transform: translateY(1000px);
    opacity: 100;
  }
}

/* Keyframes Vector 5 */
@keyframes xAxis-fly-left-3 {
  20% {
    animation-timing-function: linear;
    transform: translateX(-300px);
  }
  100% {
    animation-timing-function: linear;
    transform: translateX(-1000px);
  }
}

@keyframes yAxis-fly-left-3 {
  0% {
    opacity: 100;
  }
  20% {
    animation-timing-function: ease-in;
    transform: translateY(-600px);
  }
  100% {
    animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);
    transform: translateY(1000px);
    opacity: 100;
  }
}

/* Keyframes Vector 4 */
@keyframes xAxis-fly-right-3 {
  20% {
    animation-timing-function: linear;
    transform: translateX(-400px);
  }
  100% {
    animation-timing-function: linear;
    transform: translateX(-1000px);
  }
}

@keyframes yAxis-fly-right-3 {
  0% {
    opacity: 100;
  }
  20% {
    animation-timing-function: ease-in;
    transform: translateY(-300px);
  }
  100% {
    animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);
    transform: translateY(1000px);
    opacity: 100;
  }
}

